@import "../../globalStyles/global";

.main {
  @include defaultBackground;
}

.overlay {
  @include centerContainerH;
  @include overlay;
}

.content {
  @include centerContainerV;
  width: 40%;
  height: 70%;
  background-color: rgba($color: white, $alpha: 0.8);
  border-radius: 10px;
}

.h2 {
  color: $primaryColor;
}

.form {
  @include centerContainerV;
  width: 70%;
  height: 60%;

  button {
    @include button;
    width: 50%;
  }
}

.inputDiv {
  @include inputDiv;

  .label {
    font-weight: 500;
    margin-bottom: 5px;
  }

  .input {
    @include input;
    width: 100%;
  }

  input:focus {
    @include input;
  }
}

#forgotPassword {
  border: none;
  background-color: transparent;
  color: $primaryColor;
  font-size: 18px;
  font-weight: 500;
}

#forgotPassword:hover {
  text-decoration: underline;
}
