.sortDiv {
  display: flex;
  align-items: center;
}

.sort {
  font-size: 17px;
  border: none;
  border-radius: 10px;
  padding: 7px;
}

.sortText {
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
  color: whitesmoke;
}
