@import "../../globalStyles/global";

.main {
  width: 100%;
  height: 100%;
}

.form {
  width: 60%;
  height: 100%;
  margin: auto;
  margin-top: 20px;

  @include centerContainerV;
  justify-content: start;
}

.classData {
  width: 95%;
  height: 11%;
  @include centerContainerH;
  justify-content: space-between;
}

.inputDiv {
  @include centerContainerV;
  align-items: flex-start;
  margin-bottom: 20px;

  label {
    margin-right: 10px;
  }

  input {
    padding: 7px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
  }

  input:focus {
    outline: none;
  }

  .select {
    font-size: 17px;
    padding: 3px 5px;
    border-radius: 7px;
  }
}

.description {
  width: 95%;
  @include centerContainerV;
  align-items: flex-start;
  margin-top: 20px;

  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    max-height: 60px;
    border-radius: 7px;
    padding: 7px;
  }
}

.submit {
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: $primaryColor;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
}
