@import "../../globalStyles/global";

.projectChooser {
  width: 100%;
  height: 100%;
}

.actions {
  width: 95%;
  height: 8%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.h2 {
  color: $secondaryColor;
  text-align: center;
}

.table {
  @include table;
}

.rowHeader {
  @include rowHeader;

  th {
    @include tableHeader;
  }
}

.rowData {
  @include rowData;

  td {
    @include tableData;
  }
}

.rowData:hover {
  @include rowDataHover;
}
