@import "../../../globalStyles/global";

.main {
  width: 100%;
  height: 100%;
  @include centerContainerV;
  justify-content: space-around;
}

.header {
  @include centerContainerH;
  width: 95%;
  justify-content: space-between;
  height: 7%;
}

.headerDiv {
  @include centerContainerH;
  justify-content: start;

  font-weight: 500;
}

.headerDesc {
  color: $primaryColor;
  font-size: 20px;
}

.headerValue {
  margin-left: 10px;
  color: $textColor;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.tablesDiv {
  width: 95%;
  height: 80%;
  @include centerContainerH;
  justify-content: space-between;
}

.actions {
  width: 95%;
  height: 7%;
  @include centerContainerH;
  justify-content: space-around;
}

.actions {
  button {
    @include button;
    padding: 7px 40px;
    background-color: $primaryColor;
    color: black;
  }
}

.delete {
  @include button;
  padding: 5px 20px;
  background-color: rgba(250, 250, 250, 0.1);
  color: rgba(255, 0, 0, 0.8);
  border-radius: 5px;
}

.delete:hover {
  background-color: rgba(250, 250, 250, 0.2);
}

.columns,
.relationships {
  width: 49%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.1);
  border-radius: 10px;

  h4 {
    color: $textColor;
    margin: 0px;
    color: $secondaryColor;
    text-align: center;
  }
}

.table {
  @include table;

  thead {
    @include rowHeader;
  }

  th {
    @include tableHeader;
  }

  tr {
    @include rowData;
  }

  .hDelete {
    text-align: center;
  }
}

.rowData {
  @include rowData;
}

.deleteCol {
  width: auto;
  height: auto;
  margin: auto;
  @include centerContainerH;
  padding: 5px;
}

.deleteIcon {
  color: orangered;
  border-radius: 5px;
}

.deleteIcon:hover {
  background-color: rgba(250, 250, 250, 0.1);
}
