$secondaryColor: #f6ae84;

@mixin defaultBackground() {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: black;
}

@mixin overlay() {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
}

@mixin centerContainerH() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerContainerV() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

@mixin input($bg: rgba(255, 255, 255, 0.5), $color: black) {
  border: 1px solid $secondaryColor;
  background-color: $bg;
  color: $color;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  border-radius: 7px;
}

@mixin button() {
  padding: 15px 50px;
  font-weight: bold;
  size: 20px;
  border: none;
  background-color: #f6ae84;
  border-radius: 30px;
}
